{% extends 'services_app/index.html' %}
{% load static %}
{% block content %}
<div class="container text-dark">
    <h2>Cancel order</h2>
    <div class="row">
        <div class="orders">
            <div class="order-h col-md-12 p-3">
                <p class="text-danger"><strong>Are you sure you wanna cancel this order ?</strong></p>

                <p><strong>Order Number</strong> : {{order.order_num}}</p> 
                <p><strong>Services :</strong></p> 
                <table class="table text-dark">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for item in order.services.all %}
                      <tr>
                        <th scope="row">{{forloop.counter}}</th>
                        <td> {{item.service.title}}</td>
                      </tr>
                      {% endfor %}
                      {% if order_custom_services %}

                  {% for item in order_custom_services %}
                    <tr>
                      <th scope="row">{{forloop.counter}} CS</th>
                      <td> {{item.title}}</td>
                    </tr>
                    {% endfor %}
                  {% endif %}
                     
                    </tbody>
                  </table>
                <p><strong>Main Address</strong> : {{order.adresse.adresse_one}}</p> 
                
                <div class="edit-del">
                  <form method="POST">{% csrf_token %}
                    <button type="submit" class="edit btn btn-danger float-right">Yes Cancel</button>
                  </form>
                    <a href="{% url 'my_orders' %}" class="cancel btn btn-success">Go back</a>
                </div>
            </div>
           
        </div>

    </div>
</div>
{% endblock %}