{% extends 'services_app/index.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<style>

</style>
<h3 class="text-dark m-3 p-3">Get your location delivery book</h3>
    {% if delivery_book %}
        <div class="col-md-6 m-5">

        <p class="text-dark">{{delivery_book.note}}</p>
        <a class="btn btn-warning" href="/media/{{ delivery_book.relative_path }}">Download delivery book </a>
        </div>

    {% else %}
        <div class="order-not-exists" style="margin: 57px;">
          <h5>Your location delivery book is not ready yet, check out again later</h5>
        </div>
    {% endif %}
<script>
    function goBack(){
    window.history.back()
    }
</script>
{% endblock %}


